
<button (click) ="initNewMonster()" class="btn btn-primary">crate new monster</button>
<table class="table exstra">
  <thead>
    <tr>
      <th scope="col">Namne</th>
      <th scope="col">Hp</th>
      <th scope="col">Ac</th>
      <th scope="col">Cr</th>
      <th scope="col">Movment speed</th>
      <th scope="col">edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let monster of monsters">
      <td scope="row">{{monster.name}}</td>
      <td>{{monster.hp}}</td>
      <td>{{monster.ac}}</td>
      <td>{{monster.cr}}</td>
      <td>{{monster.movment_speed}}</td>
      <td><button (click)="editMonster(monster)" class="btn btn-primary">edit</button></td>
    </tr>
  </tbody>
</table>

<app-edit-monster [monster]="monsterToEdit" (monsterUptated)="updateMonsterList($event)"></app-edit-monster>